

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
 background: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
}



.swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}

