@import "tailwindcss";
@plugin "@tailwindcss/typography"; /* এটিই যথেষ্ট */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* v4 এ ফন্ট বা কালার এখানে থিম ব্লকে সেট করতে হয় */
@theme {
  --font-sans: "Inter", "sans-serif";
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}